*{
    margin: 0%;
    padding: 0%;
}

body{
    overflow: hidden;
    background-color: #914502;
    background-image: url("./icons/circlePattern.svg");
    background-size: 30%;
    background-position: 100% 50%;
    background-repeat: space no-repeat;
}

.main{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template: repeat(12, 1fr [mainRow])/repeat(12, 1fr [mainColumn]);
}

.navBar{
    background-image: url("./icons/geminiLOGO_.svg");
    background-size: 1%;
    background-repeat: round;
    background-position: 50% 50%;
    grid-column: 1/ span 12;
    font-family: 'Exo 2', sans-serif;
    color: rgb(251, 251, 199);
    font-size: 1.2rem;
    border-bottom: 0.5vh dotted rgb(254, 135, 61);
    background-clip: padding-box;
}

.navBar ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navBar ul li{
    display: inline;
    margin: 0.2em;
    padding: 0.2em;
    outline: 0.1em solid rgb(251, 251, 199);
    outline-offset: 0.1em;
    background-color: #ffc695;
    color: #9a4b06;
    border-radius: 0.4em;
    user-select: none;
    text-align: center;
}

.navBar ul li:hover{
    outline-color: burlywood;
}

.navBar ul li:active{
    background-color: #9a4b06;
    color: #ffc695;
}

.skullLogo{
    border-radius: 50%;
    grid-column: 3/ span 8;
    grid-row: 2/ span 11;
    background-image: url("./icons/aries.svg");
    background-size: 75%;
    background-repeat: no-repeat;
    background-position: 50% 40%;
    background-clip: padding-box;
    transition: transform 800ms ease-in-out;
}

.skullLogo:hover{
    transform: rotate(1turn);
    background-image: url("./icons/aries1.svg");
    transition: transform 4s ease-in-out;
}

.content{
    display: none;
    padding: 0.1em;
    position: relative;
    grid-row: 2/ span 11;
    grid-column: 1/ span 8;
    background-color: rgb(234, 64, 64);
    z-index: 1;
    overflow: scroll;
    user-select: none;
}

.rotatum{
    display: none;
    z-index: 0;
    grid-row: 3/ span 9;
    grid-column: 9/ span 4;
    background-color: rgb(201, 88, 40);
    background-image: url("./icons/rotatum.svg");
    background-position: 50% 50%;
    background-size: 100%;
    animation: ROTATUM 4s ease-in-out infinite alternate;
}

@keyframes ROTATUM {
    to{
        background-size: 20%;
        background-color: #f9b274;
    }
}

@media (max-width: 360px){
    .navBar ul li{
        font-size: 0.2vh;
    }
}

@media (max-height: 1400px){
    .navBar ul li{
        font-size: 1.5vh;
    }
}

@media (min-height: 700px) and (min-width: 1200px){
    .navBar ul li{
        font-size: 2vh;
    }
}

.hidden{
    transform: translate(-50%) scale(0.1);
    opacity: 0;
    transition: transform 600ms, opacity 600ms;
}

.show{
    transform: translate(0%) scale(1);
    opacity: 1;
    transition: transform 600ms, opacity 600ms;
}