@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

*{
    padding: 0%;
    margin: 0%;
    user-select: none;
}

body{
    background-color: rgb(19, 2, 88);
    background-image: url("./_clock.svg");
    background-repeat: space;
    background-size: 3%;
    overflow: hidden;
}

#clockSVG{
    height: 35vmax;
    width: 35vmax;
    margin: 4vh auto;
}

#seconds, #minutes{
    transform-origin: 371.159px 372.303px;
}

.menu{
    position: fixed;
    height: fit-content;
    width: fit-content;
    bottom: 0%;
    left: 0%;
}

button{
    position: relative;
    height: fit-content;
    width: fit-content;
    padding: 0.2em;
    text-align: center;
    background-color: transparent;
    border: 0.1em dotted rgb(192, 129, 124);
    font: 2vmax 'Pacifico', cursive;
    color: rgb(140, 170, 240);
    background-color: rgb(19, 2, 88);
}

button:hover{
    background-color: rgb(192, 129, 124);
    color: rgb(4, 4, 4);
    transition: scale 200ms;
}

button:active{
    color: rgb(254, 212, 212);
    scale: 0.8;
}

#info{
    position: fixed;
    bottom: 0%;
    right: 0%;
    height: fit-content;
    width: fit-content;
    padding: 1em;
    text-align: center;
    background-color: rgb(227, 129, 129);
    font: 2vmax 'Pacifico', cursive;
    color: rgb(15, 3, 95);
    outline: 0.3em dotted rgb(255, 255, 255);
    outline-offset: -0.15em;
    margin: 0.15em;
}

@keyframes secondsRotate {
    to{
        rotate: 360deg;
    }
}

@keyframes minutesRotate {
    to{
        rotate: 360deg;
    }
}