
*{
    margin: 0%;
    padding: 0%;
    user-select: none;
    cursor: url("Icons/smallskull.svg"), pointer;
}

body{
    overflow: hidden;
}

.mainContainer{
    position: fixed;
    width: 100vw;
    height: 100vh;
    padding: 0.5vh 0.5vw;
    background-color: rgb(0, 0, 0);
    background-image: url("./Icons/landscape.svg");
    background-position: 50% 97%;
    background-repeat: no-repeat;
    background-size: 70%;

    display: grid;
    grid-template: [row-start-main] repeat(50, 1.49vh [row-main]) / [column-start-main] repeat(50, 1.49vw [column-main]);
    gap: 0.5vh 0.5vw;
    place-items: center;
}

.dots{
    height: 1.5vh;
    width: 1.5vw;
    background-color: transparent;
    border-radius: 0.4vh;
    transition: transform 200ms ease-in-out;
    animation: dotRotate 2s linear infinite;
}

.dotsies{
    height: 12vh;
    width: 12vh;
    border-radius: 1vh;
    /* background-image: url("./Icons/vintage.svg"); */
    background-color: #7a55ff33;
    background-clip: padding-box;
    background-repeat: no-repeat;
    background-size: 150%;
    background-position: 50% 50%;
    border-radius: 1vh;
    transition: transform 400ms ease-in-out;
    animation: dotsiesRotate 3s linear infinite;
}

@keyframes dotsiesRotate{
    to{
        transform: rotate(-1turn);
    }
}

.navBar{
    position: fixed;
    height: 5vh;
    width: 80vw;
    left: 10vw;
    top: 3vh;
    z-index: 2;
    background-color: rgba(221, 201, 57, 0.518);
    padding: 0vh 0vh 0vh 4vh;
    border-radius: 0.3vh;

    display: grid;
    grid-template-columns: repeat(4, auto [col]) ;
    grid-template-rows: repeat(4, 1.67vh [row]);
    column-gap: 0.3vh;
    font-family: 'Righteous', cursive;
}

.navItem{
    width: 18vw;
    height: 5vh;
    background-color: #e7cdc6ba;
    background-image: url("./Icons/skullPIC.svg");
    background-size: 20%;
    background-repeat: round;
    border-radius: 3vh;
    font-family: inherit;
    color: #000000;
    font-size: 4vh;
    left: 6vh;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.navItem:hover{
    background-color: rgb(255, 196, 0);
}

.navItem:active{
    outline: 0.5vh solid rgb(255, 255, 255);
}

.navItem > div{
    position: relative;
    top: -0.45vh;
}

.info{
    position: relative;
    background-color: #ffc400;
    height: min-content;
    width: 79vw;
    margin: 0 auto;
    top: 4vmax;
    left: -1vmax;
    border-radius: 3vh;
    padding: 2vh;
    display: none;
}

.biodata{
    font-family: inherit;
    color: #3700ff;
    text-shadow: 10pxz 10px #e469f7;
    font-size: 5vh;
    display: none;
}

.contactsdata{
    display: none;
}

._biodata, .profileLink{
    font-family: inherit;
    color: #ff0000;
    text-shadow: 0.2vmax 0.2vmax #e469f7;
    font-size: 5vh;
    text-decoration: none;
}

.profileLink:hover{
    color: black;
}

.profileLink:active{
    text-shadow: 0.2vmax 0.2vmax 90px #88079b;
}

img{
    background-color: wheat;
    border-radius: 1vh;
    padding: 6px;
    position: relative;
    top: 1vmax;
}

.projectsLinks{
    display: none;
}

.projectLINK{
    font-family: inherit;
    color: red;
    text-shadow: 0.2vmax 0.2vmax #e469f7;
    font-size: 5vh;
    text-decoration: none;
}

.projectLINK:hover{
    color: black;
}

.projectLINK:active{
    text-shadow: 0.2vmax 0.2vmax 90px #88079b;
}

.logo{
    height: 6vmax;
    width: 6vmax;
}

.profilePIC{
    height: 40vh;
    width: 40vh;
}